<!DOCTYPE html>
<html>
<head>
    <title>Heart Disease Prediction</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Heart Disease Prediction</h1>
        <form action="/predict" method="post">
            <div>
                <label>Age</label>
                <input type="number" name="age" step="any" required>
            </div>
            <div>
                <label>Sex</label>
                <input type="number" name="sex" step="any" required>
            </div>
            <div>
                <label>Chest Pain Type (cp)</label>
                <input type="number" name="cp" step="any" required>
            </div>
            <div>
                <label>Resting Blood Pressure (trestbps)</label>
                <input type="number" name="trestbps" step="any" required>
            </div>
            <div>
                <label>Cholesterol (chol)</label>
                <input type="number" name="chol" step="any" required>
            </div>
            <div>
                <label>Fasting Blood Sugar > 120 mg/dl (fbs)</label>
                <input type="number" name="fbs" step="any" required>
            </div>
            <div>
                <label>Resting ECG (restecg)</label>
                <input type="number" name="restecg" step="any" required>
            </div>
            <div>
                <label>Max Heart Rate (thalach)</label>
                <input type="number" name="thalach" step="any" required>
            </div>
            <div>
                <label>Exercise Induced Angina (exang)</label>
                <input type="number" name="exang" step="any" required>
            </div>
            <div>
                <label>Oldpeak</label>
                <input type="number" name="oldpeak" step="any" required>
            </div>
            <div>
                <label>Slope</label>
                <input type="number" name="slope" step="any" required>
            </div>
            <div>
                <label>CA</label>
                <input type="number" name="ca" step="any" required>
            </div>
            <div>
                <label>Thal</label>
                <input type="number" name="thal" step="any" required>
            </div>
            <div>
                <button type="submit">Predict</button>
            </div>
        </form>
        {% if prediction_text %}
            <h2>{{ prediction_text }}</h2>
        {% endif %}
    </div>
</body>
</html>
